@page
@model DoAnWeb.Pages.InfoModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nhạc cụ Thành Đạt</title>
    <link rel="stylesheet" href="~/css/Info.css">
    <link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/LoginPage" type="text/html" rel="stylesheet" />
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo"><a href="HomePage">Nhạc cụ Đạt<b style="color: red;">P</b></a></div>
            <div class="search_box">
                <input type="search" placeholder="Tìm kiếm">
                <span class="fa fa-search"></span>
            </div>
            <ul>
                <li>
                    <a href="#">
                        <ion-icon name="list-outline"></ion-icon>
                        Doanh mục sản phẩm
                    </a>
                    <ul class="dropdown">
                        <li><a href="Piano">Đàn Piano</a></li>
                        <li><a href="Guitar">Đàn Guitar</a></li>
                        <li><a href="Trong">Trống</a></li>
                    </ul>
                </li>
                <li>
                    <a href="Cart">
                        <ion-icon name="cart-outline"></ion-icon>
                        Giỏ hàng
                    </a>
                </li>
            </ul>
            @if (User.Identity.IsAuthenticated)
            {

                <ul id="TaiKhoan">
                    <li>
                        <ion-icon name="person-circle-outline"></ion-icon>
                        Tài Khoản
                        <ul class="dropdown">
                            <li>
                                <a href="Info">
                                    <ion-icon name="information-circle-outline"></ion-icon>
                                    Thông tin
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <ion-icon name="help-outline"></ion-icon>
                                    Trợ giúp
                                </a>
                            </li>
                            <li>
                                <a href="#" onclick="logout()">
                                    <ion-icon name="log-out-outline"></ion-icon>
                                    Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <ul>
                    <li><a href="RegisterPage">Đăng ký</a></li>
                    <li><a href="LoginPage">Đăng nhập</a></li>
                </ul>
            }
        </nav>
    </header>

    <main>
        <h2>THÔNG TIN CÁ NHÂN</h2>
        <div id="container">
            <table>
                <tr>
                    <td id="lab">
                        Tên Đăng nhập:
                    </td>
                    <td id="val">
                        <p>@Model.tendangnhap</p>
                    </td>
                </tr>
                <tr>
                    <td id="lab">
                        Họ và Tên:
                    </td>
                    <td id="val">
                        <input type="text" name="user" value="@Model.hoten" />
                    </td>
                </tr>
                <tr>
                    <td id="lab">
                        Giới tính:
                    </td>
                    <td id="val">
                        Male <input type="radio" name="gender" value="M">
                        &nbsp;&nbsp;&nbsp;
                        <!--generates spaces between the elements horizontally-->
                        Female <input type="radio" name="gender" value="F">
                    </td>
                </tr>
                <tr>
                    <td id="lab">
                        Số điện thoại:
                    </td>
                    <td id="val">
                        <p>@Model.sodt</p>
                    </td>
                </tr>

                <tr>
                    <td id="lab">
                        Email:
                    </td>
                    <td id="val">
                        <p>@Model.email</p>
                    </td>
                </tr>
                <tr>
                    <td id="lab">
                        Địa chỉ:
                    </td>
                    <td id="val">
                        <textarea name="comments" cols="30" rows="2" class="default" >
                            @Model.diachi
                       </textarea>
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <td></td>
                    <td>
                        <input type="submit" value="Lưu" class="default">
                    </td>
                </tr>
            </table>
        </div>
    </main>

    <script>
        function logout() {
            // Xử lý đăng xuất ở đây
            document.cookie = "CookiesLogin=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            window.location.href = "/HomePage"; // Chuyển hướng về trang chính
        }
    </script>
</body>
</html>
